<p class="navbar-text pull-right">
<% if user_signed_in? %>

<h1>Create a Ritly!</h1>

<%= render 'form' %>
<br>
<table border="1" style="width:75%">
  <thead>
    <tr>
      <th>Link</th>
      <th>Hash Code</th>
    </tr>
  </thead>

  <tbody>
    <% @user.urls.each do |url| %>
      <tr>
        <td><%= url.link %></td>
        <td><%= url.hash_code %></td>
        <td><%= link_to 'Show', url %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<% end %>
