<h1>Welcome to Museum!</h1>
<p>See our collection of paintings below:</p>

<%= render 'searchform' %>

<br>

<%= render 'paintingstable' %>

<h3><%= link_to 'Back to all paintings', paintings_path %></h3>
<h3><%= link_to 'Add a painting', new_painting_path %></h3>

