<div class="container">
	<div class="row"> 
	  <div class="text-center">
	    <h1>FitPlanner</h1>
	    <p class="lead">These are all of your saved favorite exercises:</p>
	  </div>
	</div>

	<div class="row"> 
	  <div class="text-center">
	  <%= render 'favoriteexercisestable' %>
	  </div>
	</div>
</div>
