<h1>Welcome to Rewsly!</h1>
<p>See our collection of stories below:</p>

<%= render 'searchform' %>

<br>

<%= render 'storiestable' %>

<h3><%= link_to 'Back to all stories', stories_path %></h3>
<h3><%= link_to 'Add a story', new_story_path %></h3>

