<div class="container">
  <div class="row"> 
    <div class="text-center">
      <h1>FitPlanner</h1>
      <p class="lead">Search from our database of over 800 exercises by name, level, muscle group, or by description.<br>Check out our <a href="#userexercises">user submitted exercises</a> as well!</p>
    </div>
  </div>

  <div class="row"> 
    <div class="text-center">
      <%= render 'search' %>
      <%= render @search_message %>
      <br>
      <%= render 'searchexercisestable' %>
    </div>
  </div>
</div>