<h1>Welcome to BEWD Games!</h1>
<p>Which game would you like to try first?</p>

<div><%= link_to image_tag("games/secretnumbergame.jpg"), new_secret_number_path %></div>
<div><%= link_to image_tag("games/rockpaperscissorsgame.jpg"), new_rock_paper_scissor_path %></div>
<div><%= link_to image_tag("games/thescramblegame.jpg"), new_scramble_path %></div>

